.background {
  viewport-fill: fb-black;
}

text {
  font-family: System-Regular;
}

image {
  fill: fb-white;
}

.field-label {
  fill: fb-purple;
  text-anchor: end;
}

.field-value {
  fill: fb-white;
}

.field-stack-label {
  fill: fb-purple;
  text-anchor: middle;
}

.field-stack-value {
  fill: fb-white;
  text-anchor: middle;
}

.separator {
  fill: fb-cyan;
}

.plus-button #image {
  href: "plus.png";
  fill: fb-white;
}

.minus-button #image {
  href: "minus.png";
  fill: fb-white;
}

#bmi-label {
  font-size: 30;
}

#bmi-value {
  font-size: 30;
}

#weight-label {
  font-size: 25;
}

#weight-value {
  font-size: 25;
}

#height-label {
  font-size: 25;
}

#height-value {
  font-size: 25;
}

.application-fill {
  fill: fb-cyan;
}
